name: Spider

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK
      uses: actions/setup-java@v3.11.0
      with:
        java-version: '18'
        distribution: 'temurin'
        
    - name: Clone project
      run: |
        rm -rf project
        rm -rf jar/custom_spider.jar
        git clone --recurse-submodules https://github.com/FongMi/CatVodSpider project
      
    - name: Customize Spider
      working-directory: ./project
      run: |

         #简体化
         sed -i 's/預設/预设/g;s/名稱/名称/g;s/時間/时间/g' app/src/main/java/com/github/catvod/spider/AList.java
         sed -i 's/預設/预设/g;s/名稱/名称/g;s/時間/时间/g' app/src/main/java/com/github/catvod/spider/WebDAV.java
         sed -i 's/原畫/原画/g;s/普畫/普画/g;s/轉存/转存/g;s/極速/极速/g' app/src/main/java/com/github/catvod/spider/Ali.java
         sed -i 's/原畫/原画/g;s/普畫/普画/g;s/轉存/转存/g;s/極速/极速/g;s/阿里雲盤/阿里云盘/g' app/src/main/java/com/github/catvod/api/AliYun.java
         #替换
         # sed -i 's/tvfan.xxooo.cf/www.wogg.link/g' app/src/main/java/com/github/catvod/spider/Wogg.java
         # sed -i 's/www.aliyundrive.com/(www.alipan.com|www.aliyundrive.com)/g' app/src/main/java/com/github/catvod/spider/Zhaozy.java
         # cp ../app/src/main/java/com/github/catvod/spider/Wobg.java app/src/main/java/com/github/catvod/spider/Wobg.java
         # cp ../app/src/main/java/com/github/catvod/spider/Wwgg.java app/src/main/java/com/github/catvod/spider/Wwgg.java
         cp ../app/src/main/java/com/github/catvod/utils/Image.java app/src/main/java/com/github/catvod/utils/Image.java
         #替换图标
         # sed -i 's/https:\/\/x.imgs.ovh\/x\/2023\/09\/05\/64f680bb030b4.png/https:\/\/gitee.com\/yx-sy\/img\/raw\/main\/cus\/folder.png/g' app/src/main/java/com/github/catvod/utils/Image.java
         # sed -i 's/https:\/\/x.imgs.ovh\/x\/2023\/09\/05\/64f67fe2e7720.png/https:\/\/gitee.com\/yx-sy\/img\/raw\/main\/cus\/video.png/g' app/src/main/java/com/github/catvod/utils/Image.java
         # 打包排除列表
         # rm -rf app/src/main/java/com/github/catvod/spider/AList.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Ali.java
         #rm -rf app/src/main/java/com/github/catvod/spider/AppYsV2.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Bili.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Dm84.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Doll.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Douban.java
         rm -rf app/src/main/java/com/github/catvod/spider/Eighteen.java
         #rm -rf app/src/main/java/com/github/catvod/spider/FirstAid.java
         rm -rf app/src/main/java/com/github/catvod/spider/Hanime.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Init.java
         #rm -rf app/src/main/java/com/github/catvod/spider/JSDemo.java
         rm -rf app/src/main/java/com/github/catvod/spider/Jable.java
         rm -rf app/src/main/java/com/github/catvod/spider/JavDb.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Jianpian.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Justlive.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Kanqiu.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Kugou.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Local.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Market.java
         rm -rf app/src/main/java/com/github/catvod/spider/Miss.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Notice.java
         #rm -rf app/src/main/java/com/github/catvod/spider/PanSearch.java
         #rm -rf app/src/main/java/com/github/catvod/spider/PanSou.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Proxy.java
         #rm -rf app/src/main/java/com/github/catvod/spider/PTT.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Push.java
         rm -rf app/src/main/java/com/github/catvod/spider/Star.java
         #rm -rf app/src/main/java/com/github/catvod/spider/UpYun.java
         #rm -rf app/src/main/java/com/github/catvod/spider/WebDAV.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Wogg.java
         rm -rf app/src/main/java/com/github/catvod/spider/XPath.java
         rm -rf app/src/main/java/com/github/catvod/spider/XPathFilter.java
         rm -rf app/src/main/java/com/github/catvod/spider/XPathMac.java
         rm -rf app/src/main/java/com/github/catvod/spider/XPathMacFilter.java
         rm -rf app/src/main/java/com/github/catvod/spider/Xb6v.java
         #rm -rf app/src/main/java/com/github/catvod/spider/XiaoZhiTiao.java
         #rm -rf app/src/main/java/com/github/catvod/spider/YiSo.java
         #rm -rf app/src/main/java/com/github/catvod/spider/Ysj.ava
         #rm -rf app/src/main/java/com/github/catvod/spider/Zhaozy.java

    - name: Build the Jar
      working-directory: ./project
      run: |        
         chmod +x gradlew
         ./gradlew assemblerelease --build-cache --parallel --daemon --warning-mode all
         
    - name: Customize Spider Jar
      working-directory: ./project
      run: |        
         rm -rf jar/custom_spider.jar
         rm -rf jar/spider.jar/original/META-INF
         curl -L https://github.com/iBotPeaches/Apktool/releases/download/v2.7.0/apktool_2.7.0.jar > jar/3rd/apktool_2.7.0.jar
         java -jar jar/3rd/baksmali-2.5.2.jar d app/build/intermediates/dex/release/minifyReleaseWithR8/classes.dex -o jar/Smali_classes
         mkdir -p jar/spider.jar/smali/com/github/catvod/
         mv jar/Smali_classes/com/github/catvod/spider jar/spider.jar/smali/com/github/catvod/         
         java -jar jar/3rd/apktool_2.7.0.jar b jar/spider.jar -c
         mv jar/spider.jar/dist/dex.jar ../jar/custom_spider.jar
         #md5=($(md5sum ../jar/custom_spider.jar))
         echo $(md5sum ../jar/custom_spider.jar | awk '{print $1}') > ../jar/custom_spider.jar.md5
         
    - name: Upload APK
      uses: actions/upload-artifact@v3.1.2
      with:
        name: Spider
        path: ./jar/custom_spider.jar

    - name: Update spider jar      
      uses: EndBug/add-and-commit@v9.1.3
      with:
        default_author: github_actions
        message: 'update spider jar'
        add: "['./jar/custom_spider.jar', './jar/custom_spider.jar.md5']"        
